version: '3.8'

services:
  mongodb:
    build: .
    container_name: mongodb-messaging
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: messaging-app
    volumes:
      - mongodb_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    networks:
      - messaging-network



volumes:
  mongodb_data:

networks:
  messaging-network:
    driver: bridge
