services:
  mongodb-rs0-p:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        
         mongod --bind_ip_all --shardsvr --replSet rs0 --keyFile /mongo_keyfile --port 21018 --wiredTigerCacheSizeGB 2 --noauth --fork
         mongosh "mongodb://127.0.0.1:21018/admin" --eval '
            db.createUser({
              user: "admin",
              pwd: "password",
              roles: ["root"]
            })
          '
          mongosh "mongodb://127.0.0.1:21018/admin" --eval 'db.shutdownServer()'
        fi
        mongod --bind_ip_all --shardsvr --replSet rs0 --keyFile /mongo_keyfile --port 28018 --wiredTigerCacheSizeGB 2

    volumes:
      - mongodb-rs0-p:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs0-s1:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --bind_ip_all --shardsvr --replSet rs0 --keyFile /mongo_keyfile --port 28019 --wiredTigerCacheSizeGB 2
    volumes:
      - mongodb-rs0-s1:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs0-s2:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --bind_ip_all --shardsvr --replSet rs0 --keyFile /mongo_keyfile --port 28020 --wiredTigerCacheSizeGB 2
    volumes:
      - mongodb-rs0-s2:/data/db
      -   ./keyfile:/keyfile
    network_mode: "host"


  mongodb-rs1-p:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
          mongod --bind_ip_all --shardsvr --replSet rs0 --keyFile /mongo_keyfile --port 21019 --wiredTigerCacheSizeGB 2 --noauth --fork
          mongosh "mongodb://127.0.0.1:21019/admin" --eval '
             db.createUser({
               user: "admin",
               pwd: "password",
               roles: ["root"]
             })
           '
           mongosh "mongodb://127.0.0.1:21019/admin" --eval 'db.shutdownServer()'
        fi
        mongod --bind_ip_all --shardsvr --replSet rs1 --keyFile /mongo_keyfile --port 28021 --wiredTigerCacheSizeGB 2
    volumes:
      - mongodb-rs1-p:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs1-s1:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --bind_ip_all --shardsvr --replSet rs1 --keyFile /mongo_keyfile --port 28022 --wiredTigerCacheSizeGB 2
    volumes:
      - mongodb-rs1-s1:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs1-s2:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --bind_ip_all --shardsvr --replSet rs1 --keyFile /mongo_keyfile --port 28023 --wiredTigerCacheSizeGB 2
    volumes:
      - mongodb-rs1-s2:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-cfg-1:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --configsvr --replSet cfgRS --keyFile /mongo_keyfile --bind_ip_all --port 27030
    volumes:
      - mongodb-cfg-1:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-cfg-2:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --configsvr --replSet cfgRS --keyFile /mongo_keyfile --bind_ip_all --port 27031
    volumes:
      - mongodb-cfg-2:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-cfg-3:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        mongod --configsvr --replSet cfgRS --keyFile /mongo_keyfile --bind_ip_all --port 27032
    volumes:
      - mongodb-cfg-3:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongos:
    image: mongo:6
    restart: unless-stopped
    entrypoint:
      - bash
      - -c
      - |
        set -e
        sleep 5
        if [ ! -f "/mongo_keyfile" ]; then
          cp /keyfile /mongo_keyfile
          chmod 400 /mongo_keyfile
          chown 999:999 /mongo_keyfile
        fi
        exec mongos \
        --configdb cfgRS/localhost:27030,localhost:27031,localhost:27032 \
        --keyFile /mongo_keyfile \
        --bind_ip_all \
        --port 27040
    volumes:
      - ./keyfile:/keyfile
    network_mode: "host"


  mongosetup:
    image: mongo:6
    restart: no
    entrypoint:
      - bash
      - -c
      - |
        set -e 
        HOST="localhost"
        PORTS=(28018 28019 28020)
        
        for PORT in "$${PORTS[@]}"; do
          echo "Waiting for $$HOST:$$PORT..."
          while ! mongosh --host $$HOST:$$PORT --eval "db.runCommand('ping')" --quiet 2>/dev/null; do
            sleep 1
          done
        done
        echo "set replica1"
        mongosh --host localhost:28018 --eval "
        rs.initiate({
          _id: 'rs0',
          members: [
            { _id: 0, host: 'localhost:28018', priority: 2 },
            { _id: 1, host: 'localhost:28019', priority: 1 },
            { _id: 2, host: 'localhost:28020', priority: 1 }
          ]
        })
        "
        
        echo "set replica2"
        HOST="localhost"
        PORTS=(28021 28022 28023)
        
        for PORT in "$${PORTS[@]}"; do
          echo "Waiting for $$HOST:$$PORT..."
          while ! mongosh --host $$HOST:$$PORT --eval "db.runCommand('ping')" --quiet 2>/dev/null; do
            sleep 1
          done
        done
        
        mongosh --host localhost:28021 --eval "
        rs.initiate({
          _id: 'rs1',
          members: [
            { _id: 0, host: 'localhost:28021', priority: 2 },
            { _id: 1, host: 'localhost:28022', priority: 1 },
            { _id: 2, host: 'localhost:28023', priority: 1 }
          ]
        })
        "
        
        echo "set cfg"
        HOST="localhost"
        PORTS=(27030 27031 27032)
        
        for PORT in "$${PORTS[@]}"; do
          echo "Waiting for $$HOST:$$PORT..."
          while ! mongosh --host $$HOST:$$PORT --eval "db.runCommand('ping')" --quiet 2>/dev/null; do
            sleep 1
          done
        done
        
        mongosh --host localhost:27030 --eval "
        rs.initiate({
          _id: 'cfgRS',
          configsvr: true,
          members: [
            { _id: 0, host: 'localhost:27030' },
            { _id: 1, host: 'localhost:27031' },
            { _id: 2, host: 'localhost:27032' }
          ]
        })
        "
        
        echo "set sharding"
        HOST="localhost"
        PORTS=(27040)
        
        for PORT in "$${PORTS[@]}"; do
          echo "Waiting for $$HOST:$$PORT..."
          while ! mongosh --host $$HOST:$$PORT --eval "db.runCommand('ping')" --quiet 2>/dev/null; do
            sleep 1
          done
        done
        
        mongosh --host localhost:27040 --eval "
        sh.addShard('rs0/localhost:28018,localhost:28019,localhost:28020')
        sh.addShard('rs1/localhost:28021,localhost:28022,localhost:28023')
        "
        
        echo "set root mongos pasword"
        
        
        mongosh --host localhost:27040 --eval "
        db = db.getSiblingDB('admin');

        db.createUser({
          user: 'admin',
          pwd: 'password',
          roles: ['root']
        })
        "
        
        mongosh --port 27040 -u admin -p password --authenticationDatabase admin --eval "
         sh.enableSharding('messaging-app')
        "

    volumes:
      - ./keyfile:/mongo_keyfile
    network_mode: "host"

volumes:
  mongodb-rs0-p:
  mongodb-rs1-p:
  mongodb-rs0-s1:
  mongodb-rs0-s2:
  mongodb-rs1-s1:
  mongodb-rs1-s2:
  mongodb-cfg-1:
  mongodb-cfg-2:
  mongodb-cfg-3:

networks:
  messaging-network:
    driver: bridge

